@import '~material-design-lite/src/color-definitions';

$color-primary: $palette-blue-grey-50 !default;
$color-primary-dark: $palette-blue-grey-200 !default;
$color-accent: $palette-pink-A200 !default;
