@import '../../styles/colors';

.flex {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.heading {
  background-color: $color-primary;
  color: $color-primary;
  font-size: 6vh;
  z-index: 2;
}

.logo {
  max-height: 30vh;
  max-width: 30vh;
}

.instructions {
  background-color: #fff;
  color: #000;
  font-size: 3vh;
  line-height: 1.5;
  padding: 0 1em;
}