@import '../../styles/colors';

.flex {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.app-title {
  text-align: center;
}

.heading {
  background-color: $color-primary;
  color: $color-primary;
  font-size: 6vh;
  z-index: 2;
}

.logo {
  max-height: 30vh;
  max-width: 30vh;
}

.instructions {
  background-color: rgba(255, 255, 255, 0.32);
  color: lightgray;
  font-size: 3vh;
  line-height: 1.5;
  padding: 0 1em;
}

.bulbs-heading {
  background: url('/bulbs-min.jpg') center center no-repeat;
  background-size: cover;
}
