@import '../../styles/colors';

.mdl-layout__header {
  background: url('/bulbs-min.jpg') center center no-repeat;
  background-size: cover;
  
  color: white;
  flex-grow: 1;
  font-size: 6vh;
  height: 200px;

  transition: all .2s ease-in;

  &.collapse {
    max-height: 56px;
  }

}
