@import '../../styles/colors';

.mdl-layout__header {  
  background: url('/bulbs-min.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  flex-grow: 1;
  font-size: 6vh;
  height: 200px;
  transition: height .5s ease-in-out, opacity .5s ease-in-out;
  
  &.collapse {
    height: 1px;
    opacity: .5;
  }
}
