$image_path: '~material-design-lite/src/images/';

@import '~material-design-icons/iconfont/material-icons.css';
@import '~material-design-lite/src/material-design-lite';
@import './styles/colors';

$main-bg-colors: #efefef;

body {
  background-color: $main-bg-colors;
  
}


